demoWorkspace/.metadata/.plugins/com.teamcenter.bmide.base.ui/TeamcenterPropertyStorage.xml
demoWorkspace/.metadata/.plugins/com.teamcenter.bmide.server.ui/TeamcenterServerUIPropertyStorage.xml
demoWorkspace/.metadata/.plugins/org.eclipse.cdt.core/.log
demoWorkspace/.metadata/.plugins/org.eclipse.core.resources/3.snap
demoWorkspace/.metadata/.plugins/org.eclipse.core.resources/.history/10/300478d766f9001c11b6ea4362d915f6
demoWorkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/bg6template/.markers
demoWorkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/bg6template/.markers.snap
demoWorkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/bg6template/.syncinfo.snap
demoWorkspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
demoWorkspace/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
demoWorkspace/.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
demoWorkspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
demoWorkspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
demoWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
demoWorkspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
demoWorkspace/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
